.Leaderboard {
  min-height: 100%;
  max-height: fit-content;
  max-width: 50vh;
  padding: 1.45em;
  min-width: 25em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  border: 2px solid #e9e9ec;
}

.Leaderboard-heading {
  margin: 0;
  padding-top: 1em;
  color: #888888;
  font-weight: 400;
}

.Leaderboard-list {
  margin: 0;
  padding: 3em 0;
  list-style: none;
}

.Leaderboard-list-item {
  margin: 0.1em;
  padding: 0.1em 0.75em;
  min-width: 16em;
  font-size: 1.25em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #cfd8dc;
  color: #9da6a9;
  font-weight: 600;
}
