.WelcomeScreen {
  padding: 0 1.5em 1.5em 1.5em;
}

.BoardComponent {
  padding: 0 1.5em 1.5em 1.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.GameScore {
  padding-bottom: 1em;
  display: flex;
  font-weight: 600;
}

.Board {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.Board-row-cell {
  width: 2em;
  height: 2em;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

.Board-row-cell_highlighted {
  width: 2em;
  height: 2em;
  background-color: #42d8e8;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

.Board-row-cell_hit {
  width: 2em;
  height: 2em;
  background-color: #00e871;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

.Board-row-cell_missed {
  width: 2em;
  height: 2em;
  background-color: #e85a5f;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

.WelcomeScreen {
  font-weight: 600;
}
