.Controls {
  padding: 2em 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.Controls-input {
  min-height: 3em;
  min-width: 6em;
  appearance: none;
  -webkit-appearance: none;
  margin: 0 0.5em;
  padding: 0 1em;
  border: none;
  border-radius: 0.25em;
  color: #7b8d93;
  text-transform: capitalize;
  font-weight: 600;
}

.Controls-input_gameMode {
  min-width: 11em;
  max-width: 14em;
  background-color: #cfd8dc;
}

/* .Controls-input_gameMode::after {
  content: "";
  top: 2em;
  position: absolute;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
} */

.Controls-input_nameInput {
  max-width: 6em;
  background-color: #f3f3f3;
}

.Controls-input_playButton {
  padding: 1em;
  background-color: #7b8d93;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
